<div class="seciton-left">
    <div class="section-left-content">
    </div>
  </div>
  
  
  <div class="form-holder height-100vh mat-elevation-z4" [perfectScrollbar]="{}">
    <form
      [formGroup]="signupForm"
      class="signup-form"
      fxLayout="column"
      (ngSubmit)="onSubmit()"
    >
      <!-- headline -->
      <div class="form-headline text-center mb-32">
        <h1 class="font-weight-light">Lorem Ipsum is simply dummy text</h1>
      </div>
      <!-- <div class="mb-48" fxLayout="row wrap" fxLayoutAlign="center center">
        <img
          width="200px"
          src="assets/images/illustrations/breaking_barriers.svg"
          alt=""
        />
      </div> -->
  
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Usuario</mat-label>
        <input
          matInput
          formControlName="userName"
          type="text"
          name="userName"
          placeholder="Usuario"
        />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          name="password"
          placeholder="********"
        />
      </mat-form-field>
      <button  mat-raised-button color="primary">Ingresar</button>
    </form>
</div>