<mat-grid-list cols="2" rowHeight="2:1">
  <!-- ************************************ -->
  <mat-grid-tile>
    <!-- <div class="p-0">
        <span fxFlex></span>
        <button mat-raised-button class="mb-05" color="primary">AAAAAAAAAA</button>
    </div> -->
    <div class="p-0 external_div" *ngIf="items.length > 0">
      <mat-card class="p-3">
        <mat-card-content class="p-3">
          <ngx-datatable
                class="material p-4"
                [rows]="items"
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="25"
                [scrollbarH]="false"
                [limit]="5"
                [rowHeight]="40">
                <ngx-datatable-column name="Name" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.name }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="height" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.height }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="mass" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.mass }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="gender" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.gender }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <!-- <ngx-datatable-column name="Status" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive">{{row.isActive ? 'active' : 'inactive'}}</mat-chip>
                  </ng-template>
                </ngx-datatable-column> -->
              <!--  <ngx-datatable-column name="Actions" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
                  </ng-template>
                </ngx-datatable-column> -->
              </ngx-datatable>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="p-0 spinnerCl" *ngIf="items.length === 0">
      <mat-spinner strokeWidth="10"></mat-spinner>
    </div>
  </mat-grid-tile>
  <!-- ************************************ -->
  <mat-grid-tile>
    <!-- <div class="p-0">
        <span fxFlex></span>
        <button mat-raised-button class="mb-05" color="primary">AAAAAAAAAA</button>
    </div> -->
    <div class="p-0 external_div" *ngIf="items.length > 0">
      <mat-card class="p-3">
        <mat-card-content class="p-3">
          <ngx-datatable
                class="material p-4"
                [rows]="items"
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="25"
                [scrollbarH]="false"
                [limit]="5"
                [rowHeight]="40">
                <ngx-datatable-column name="Name" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.name }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="height" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.height }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="mass" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.mass }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="gender" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.gender }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <!-- <ngx-datatable-column name="Status" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive">{{row.isActive ? 'active' : 'inactive'}}</mat-chip>
                  </ng-template>
                </ngx-datatable-column> -->
              <!--  <ngx-datatable-column name="Actions" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
                  </ng-template>
                </ngx-datatable-column> -->
              </ngx-datatable>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="p-0 spinnerCl" *ngIf="items.length === 0">
      <mat-spinner strokeWidth="15"></mat-spinner>
    </div>
  </mat-grid-tile>
  <!-- ************************************ -->
  <mat-grid-tile>
    <!-- <div class="p-0">
        <span fxFlex></span>
        <button mat-raised-button class="mb-05" color="primary">AAAAAAAAAA</button>
    </div> -->
    <div class="p-0 external_div" *ngIf="items.length > 0">
      <mat-card class="p-3">
        <mat-card-content class="p-3">
          <ngx-datatable
                class="material p-4"
                [rows]="items"
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="25"
                [scrollbarH]="false"
                [limit]="5"
                [rowHeight]="40">
                <ngx-datatable-column name="Name" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.name }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="height" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.height }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="mass" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.mass }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="gender" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.gender }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <!-- <ngx-datatable-column name="Status" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive">{{row.isActive ? 'active' : 'inactive'}}</mat-chip>
                  </ng-template>
                </ngx-datatable-column> -->
              <!--  <ngx-datatable-column name="Actions" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
                  </ng-template>
                </ngx-datatable-column> -->
              </ngx-datatable>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="p-0 spinnerCl" *ngIf="items.length === 0">
      <mat-spinner strokeWidth="20"></mat-spinner>
    </div>
  </mat-grid-tile>
  <!-- ************************************ -->
  <mat-grid-tile>
    <!-- <div class="p-0">
        <span fxFlex></span>
        <button mat-raised-button class="mb-05" color="primary">AAAAAAAAAA</button>
    </div> -->
    <div class="p-0 external_div" *ngIf="items.length > 0">
      <mat-card class="p-3">
        <mat-card-content class="p-3">
          <ngx-datatable
                class="material p-4"
                [rows]="items"
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="25"
                [scrollbarH]="false"
                [limit]="5"
                [rowHeight]="40">
                <ngx-datatable-column name="Name" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.name }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="height" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.height }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="mass" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.mass }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="gender" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <p>{{ row?.gender }}</p>
                  </ng-template>
                </ngx-datatable-column>
                <!-- <ngx-datatable-column name="Status" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive">{{row.isActive ? 'active' : 'inactive'}}</mat-chip>
                  </ng-template>
                </ngx-datatable-column> -->
              <!--  <ngx-datatable-column name="Actions" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
                  </ng-template>
                </ngx-datatable-column> -->
              </ngx-datatable>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="p-0 spinnerCl" *ngIf="items.length === 0">
      <mat-spinner strokeWidth="25"></mat-spinner>
    </div>
  </mat-grid-tile>
</mat-grid-list>